*{
	margin:0;
	padding:0;
}



html{
	background:url('../img/bg.jpg') repeat #e1f0f6;
}


body{
	font:20px'Open Sans Condensed', sans-serif;
}


header h1{
	text-align:center;
	font: normal 52px 'Playball', cursive;
	color:#518191;
	padding-top:60px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.1);
}

